.nav{
    display: flex;
    justify-content: space-around;
    font-size: large;
    background-color: mediumvioletred;

}

.nav:hover{
    cursor: pointer;
    color: red;
    font-size: 250%;
}


nav:active {
    color: yellow;
  }